<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game Over!</title>
  <link rel="stylesheet" href="styles/app.css">
  <script defer src="end.js"></script>
</head>
<body>
  <div class="container">
    <div id="end">
      <h1>Congrats! you've completed the Tandem Quiz, Here's your final score</h1>
      <h1 id="finalScore">0</h1>
      <a class="btn" href="/game">Play Again!</a>
    </div>
  </div>
</body>
</html>